
<lib-header></lib-header>
<h1>hola</h1>

<lib-button></lib-button>

<lib-card text=" Learn Angular">
  <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/>
  </svg>
</lib-card>

<lib-button [text]="'Min'" [type]="'secondary'">
</lib-button>

<lib-button [text]="'Medium length'" [type]="'secondary'" [isLoading]="isLoadingPrimaryWithSpinner"
(clickButton)="onClickPrimaryWithSpinner()">
</lib-button>

<lib-loading type="primary" size="extra-large"></lib-loading>

<lib-slider-control
[min]="min"
[max]="max"
[step]="step"
[disabled]="disabled"
[prefix]="prefix"
(valuesChange)="valuesChange($event)"
[title]="titleActive">
</lib-slider-control>

<router-outlet></router-outlet>
